            .timeline {
                position: relative;
                white-space: nowrap;
                padding: 0px 0px 150px 0px;

            }
            .timeline>h2{
                color: white;
                text-align: center;
                font-size: 40px;
                padding: 0px 0px 200px 0px;
            }
 
            .timeline ol {
                font-size: 0;
                /* width: 100px; */
                position: absolute;
                left: 50%; transform: translateX(-50%);
                padding: 100px;
                
            }
 
            .timeline ol li {
                position: relative;
                display: inline-block;
                list-style-type: none;
                width: 150px;
                height: 2px;
                color: white;
                background: #ffffff;
            }
 
            .timeline ol li:last-child {
                width: 280px;
            }
            
            .timeline ol li:not(:first-child) {
                margin-left: 14px;
            }
            
            .timeline ol li:not(:last-child)::after {
                content: '';
                position: absolute;
                top: 50%;
                left: calc(100% + 1px);
                bottom: 0;
                width: 12px;
                height: 12px;
                transform: translateY(-50%);
                border-radius: 50%;
                background: gray;
            }
            .timeline ol li div {
                position: absolute;
                left: calc(100% + 7px);
                width: 180px;
                padding: 15px;
                font-size: 1rem;
                white-space: normal;
                color: black;
                background: white;
            }
 
            .timeline ol li div::before {
                content: '';
                position: absolute;
                top: 100%;
                left: 0;
                width: 0;
                height: 0;
                border-style: solid;
            }
            .timeline ol li:nth-child(odd) div {
                top: -16px;
                transform: translateY(-100%);
            }
            
            .timeline ol li:nth-child(odd) div::before {
                top: 100%;
                border-width: 8px 8px 0 0;
                border-color: white transparent transparent transparent;
            }
            .timeline ol li:nth-child(even) div {
                top: calc(100% + 16px);
            }
            
            .timeline ol li:nth-child(even) div::before {
                top: -8px;
                border-width: 8px 0 0 8px;
                border-color: transparent transparent transparent white;
            }
            .timeline p{
                color: black;
                font-size: 12px;
            }
            time{
                font-weight: bolder;
            }